*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.aab
/.idea
/app/.cxx
/app/release
/app/src/main/assets
/ndk-build-project/jni/armeabi-v7a
/ndk-build-project/jni/arm64-v8a
/ndk-build-project/jni/x86
/ndk-build-project/jni/x86_64
/app/src/main/assets
/.cxx
